NODE_ENV=DEVELOPMENT # DEVELOPMENT | PRODUCTION | TEST
PORT=   

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=

# CORS Configuration
CORS_ORIGIN=
ALLOWED_ORIGINS=

## URL Settings
API_URL=
FRONTEND_URL=

# JWT Settings
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_TTL=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_TTL=
JWT_GOOGLE_STATE_SECRET=

# Google OAuth Settings
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Redis Settings
REDIS_HOST=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_DB=

# Email Settings
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
